@import url('https://fonts.googleapis.com/css2?family=Dangrek&family=Fira+Sans&display=swap');


body{
    background: url("https://marketplace.canva.com/EAD2962NKnQ/2/0/1600w/canva-rainbow-gradient-pink-and-purple-zoom-virtual-background-_Tcjok-d9b4.jpg");
    background-size: cover;
    }

#output {
    background: white;
    border-radius: 10px;
    border-top: 10px solid black;
padding: 10px;
float: none;
text-align: left;
}

h2{
    font-family: "dangrek";
 font-size: 40px;
}


h4{
    font-family: dangrek;
    font-size: 28px;
}

#number1, #number2{
    font-size: 14px;
    font-family: fira sans;
}

#btnSend {
    color: black;
    background: #b6e4ff;
    border: solid;
    border-color:black;
    font-size: 18px;
    font-weight: normal;
    border-width: 2px;
   font-family: fira sans;
}

    #btnSend:hover{
        border-color: black;
        background: linear-gradient(#b6e4ff, #d1c4ff);
      
    }

    img {
        width: 15%;
        height: 130px;
        border: solid;
        border-radius: 10px;
        border-color:#d1c4ff;
        }

        img:hover{
            border-color:#b6e4ff ;
transform: scale(1.1);
transition: .5s;
        }

        #player1_score{
            font-family: fantasy;
        }
        #player2_score{
            font-family: fantasy;
        }